{{!-- about us --}}
<div class="container">
    <div class="row" id="aboutUs">
        {{#each aboutUs}}
        <div class="col-md-3">
            <img src="{{aboutUsImage}}" alt="">
            <p>{{aboutUsBio}}</p>
        </div>
        {{/each}}
    </div>
</div>