{{!-- Controls --}}
<div class="container">
    <div class="row" id="controlsPage">
        {{#each controlls}}
        <div class="col-md-4">
            <p>{{controlOption}}</p>
        </div>
        {{/each}}
    </div>
</div>