{{!-- Controls --}}
<div class="container">
    <div class="row" id="controlsPage">

    <h3>OFF</h3>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    <h3>ON</h3>
        {{!-- {{#each controlls}}
        <div class="col-md-4">
            <p>{{controlOption}}</p>
        </div>
        {{/each}} --}}
    </div>
</div>