{{!-- Controls --}}
<div class="container">
    <div class="row" id="controlsPage">
        <p>Controls Here</p>
        {{!-- {{#each controlls}}
        <div class="col-md-4">
            <p>{{controlOption}}</p>
        </div>
        {{/each}} --}}
        <a href="stats">Stats</a>
    </div>
</div>