{{!-- Controls --}}
<div class="container" id="controlsPage">
    <div class="row">
        <div class="col-md-12">

            <body class="back-row-toggle">
                <div class="rain front-row"></div>
                <div class="rain back-row"></div>
        </div>
    </div>
    <div class="row" id="toggleControls">
        <div class="col-md-4 offset-md-4" style="text-align: center">
            <h3>Select a plant to control:</h3> <br>
            <select class="custom-select">
                <option selected>Choose a plant</option>
                <option value="1">Tomato plant</option>
                <option value="2">Living room ficus</option>
            </select>
        </div>
    </div>
    <div class="row">
        <hr>
        <div class="col-md-4 offset-md-4" style="text-align: center">

            <h3>Manually water your plant:</h3> <br>
            <h3>OFF
                <label class="switch">
                    <input id="manualOnOff" type="checkbox">
                    <span class="slider round"></span>
                </label>
                ON</h3> <br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <body class="back-row-toggle splat-toggle">
                <div class="rain front-row"></div>
                <div class="rain back-row"></div>
        </div>
    </div>
    <div class="row">
        <hr>
        <div class="col-md-6 offset-md-3" style="text-align: center">
            <h3>Set up a timer to automatically water:</h3>
            <h3>How often would you like to water?</h3>
            <select class="custom-select">
                <option selected>Frequency</option>
                <option value="1">Every two days</option>
                <option value="2">Every day</option>
                <option value="3">Twice a day</option>
            </select>
            <br>
            <h3>How long would you like to water?</h3>
            <select class="custom-select">
                <option selected>Duration</option>
                <option value="1">10 seconds</option>
                <option value="2">20 seconds</option>
                <option value="3">30 seconds</option>
            </select>
        </div>
    </div>
    <hr>


    <div class="col-md-4 offset-md-4" style="text-align: center">
        <h3>Automatically water when low moisture levels are detected:</h3>
        <h3>OFF
            <label class="switch">
                <input id="autoOnOff" type="checkbox">
                <span class="slider round"></span>
            </label>
            ON</h3>
        <br><br>
    </div>
    <hr>
    <div class="col-md-4 offset-md-4" style="text-align: center">
        <h3>Save your settings:</h3>
        <button type="button" id="saveButton" class="btn btn-success">Save</button>
    </div> <br><br>

</div>
</div>
