<h1>Soil Server</h1>

{{!-- home page --}}
<div class="row" id="homePage">
    {{#each navButton}}
    <div class="col-md-4">
        <img src="{{imageLink}}" alt=""><br>
        <a href="{{navLink}}">{{navDestination}}</a>
    </div>
    {{/each}}
</div>
