<div class="container">
<h1>Soil Server</h1>

{{!-- home page --}}
<div class="row" id="homePage">
    {{#each navButton}}
    <div class="col-md-4">
        <img src="{{imageLink}}" alt=""><br>
        <a href="{{navLink}}">{{navDestination}}</a>
    </div>
    {{/each}}
</div>

<form action="/login" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Log In"/>
    </div>
</form>

<a href="/auth/google">Sign In with Google</a>

</div>