<div class="container">
    <div class="row">
        <div class="col-md-12">

            <body class="back-row-toggle splat-toggle">
                <div class="rain front-row"></div>
                <div class="rain back-row"></div>
        </div>
    </div>
    <div class="row" id="statsPage">
        <h3>Stats Here</h3>
    </div>
</div>
