{{!-- stats --}}
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <body class="back-row-toggle splat-toggle">
                <div class="rain front-row"></div>
                <div class="rain back-row"></div>
        </div>
    </div>
    <div class="row" id="statsPage">
        <div class="col-md-6">
            <div class="container">
                <h1>Graphs</h1>
                <svg></svg>

            </div>

        </div>

    </div>
</div> <br><br><br>
</div>