{{!-- stats --}}
<div class="container">
    <div class="row" id="statsPage">
        <div class="col-md-6">
            <p>Stats Here</p>
            {{!-- {{#each}}
            <p>Humidity: {{humidity}}</p>
            <p>Soil Moisture: {{soilMoisture}}</p>
            <p>Temperature: {{temperature}}</p>
            {{/each}} --}}
            <div id="container" style="height: 400px"></div>
        </div>
    </div>
</div>