{{!-- stats --}}
<div class="container">
    <div class="row" id="statsPage">
        <div style="text-align: center" class="col-md-6 offset-md-3">
            <h3>Stats Here</h3> <hr>
            <h4>Sample graph:</h4><br>
            <img style="max-width: 50vw" src="https://www.nrcs.usda.gov/Internet/FSE_MEDIA/nrcs144p2_038644.png" alt="sample"> <hr> <br>
            <h4>More sample data:</h4><br>
            <img style="max-width: 50vw" src="https://www.nrcs.usda.gov/Internet/FSE_MEDIA/nrcs144p2_038646.png" alt="sample"> <hr> <br>
            {{!-- {{#each}}
            <p>Humidity: {{humidity}}</p>
            <p>Soil Moisture: {{soilMoisture}}</p>
            <p>Temperature: {{temperature}}</p>
            {{/each}} --}}
        </div>
    </div>
</div>