{{!-- stats --}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <body class="back-row-toggle splat-toggle">
                <div class="rain front-row"></div>
                <div class="rain back-row"></div>
        </div>
    </div>
    <div class="row" id="statsPage">
<<<<<<< HEAD
        <div class="col-md-6">
            <p>Stats Here</p>
=======
        <div style="text-align: center" class="col-md-6 offset-md-3">
            <h3>Stats Here</h3> <hr>
            {{!-- {{#each}}
            <p>Humidity: {{humidity}}</p>
            <p>Soil Moisture: {{soilMoisture}}</p>
            <p>Temperature: {{temperature}}</p>
            {{/each}} --}}
            <div id="container" style="height: 400px"></div>
>>>>>>> 17771992243aceb30543116ff689ba40cc0b6f01
        </div>
    </div> <br><br><br>
</div>