<div class="container">
    <div class="row">
        <div class="col-md-12">

            <body class="back-row-toggle splat-toggle">
                <div class="rain front-row"></div>
                <div class="rain back-row"></div>
        
    </div>
    <div class="row" id="statsPage">
        <div class="col-md-6">
            <div class="container">
                <h1>Stats</h1>
                <div id="graph1"></div> 
                <div id="graph2"></div>
                <div id="graph3"></div>

            </div>

        </div>

    </div>
    </div>
</div> <br><br><br>
</div>
