
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <body class="back-row-toggle splat-toggle">
                <div class="rain front-row"></div>
                <div class="rain back-row"></div>
        
    </div>
    <div class="row" id="statsPage">
        <div class="col-md-6">
            <div class="container">
                <h1>Stats</h1>
                <br>
                <br>
                <h2 class="text-center"style="color:#4682b4"> Soil Moisture Sensor</h2>
                <br>
                <div id="graph1"></div> 
                <br>
                <h2 class="text-center"style="color:#FF0000">Thermometer</h2>
                <br>
                <div id="graph2"></div>
                <br>
                <h2 class="text-center"style="color:#32CD32">Humidity Sensor</h2>
                <br>
                <div id="graph3"></div>
                <br>

            </div>

        </div>
    </div>
    
    
    
</div>
