{{!-- stats --}}
<div class="container">
    <div class="row" id="statsPage">
        <div style="text-align: center" class="col-md-6 offset-md-3">
            <h3>Stats Here</h3> <hr>
            {{!-- {{#each}}
            <p>Humidity: {{humidity}}</p>
            <p>Soil Moisture: {{soilMoisture}}</p>
            <p>Temperature: {{temperature}}</p>
            {{/each}} --}}
            <div id="container" style="height: 400px"></div>
        </div>
    </div>
</div>