/* start toggle switch styling */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 10px;
  margin-right: 10px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px greenyellow;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* end toggle switch styling */

.navbar {
  margin-bottom: 10px
}

/* start aboutMe */
.about-image {
  border-radius: 50%;
  margin-left: 20%;
}
.about-name {
  text-align: center;
  margin-top: 20px;
}
.about-links {
  margin: 10px;
  text-align: center;
}
.fab {
  font-size: 30px;
  
}
.btn {
  margin: 10px;
}
/* end aboutMe */
hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color: gray;
  height: 1px;
}
#googleIcon {
  font-size: 20px
}
.footer {
  background-color: saddlebrown;
  color: white;
}